---
layout: default
include_footer: false
additional_scripts: |
  <script src="assets/js/contact_request.js"></script>
---

<!-- Banner -->
<section id="banner">
    <div class="inner">
        <div class="logo">
            <img alt="" src="images/logo_small.png" />
        </div>
        <h2>Willkommen beim {{ site.name }}
        </h2>
        <p>
            Die offizielle Website des Vereins auf der wir alle Informationen rund um die Schnittkirwa
            Marktleuthen bereitstellen
        </p>
    </div>
</section>

<!-- Wrapper -->
<section id="wrapper">
    <!-- One -->
    {% comment %} BEGIN SECTION 1 {% endcomment %}
    {% capture headline_1 %}
      Schnittkirwa 2025
    {% endcapture %}
    {% capture message_1 %} 
      Das Programm für unsere <strong>Schnittkirwa 2025</strong> steht – und kann sich weit über die Ortsgrenzen hinaus sehen lassen!
      Beginnend mit der <strong>besten Partyband Deutschlands</strong> am Samstag bis zur großen Tombola mit Spanferkel (und anderen Preisen 😉) geht es dieses Jahr drei Tage lang in neuer Lokalität zugange.
    {% endcapture %}

    {% include home_section.html id='event_2025' section_classes='wrapper spotlight style1' image_path='images/2025_blur.jpg'
 headline=headline_1
 message=message_1
 href='schnittkirwa-2025.html'
 link_text='Zum Programm' %}
    {% comment %} END SECTION 1 {% endcomment %}

    <!-- Two -->
    {% comment %} BEGIN SECTION 2 {% endcomment %}
    {% capture headline_1 %}
      Warum ist die Schnittkirwa ein Verein?
    {% endcapture %}
    {% capture message_1 %} 
      Die Schnittkirwa Marktleuthen wurde über Jahre hinweg von den Ortsverbänden der CSU & JU organisiert und durchgeführt.
      Aufgrund abnehmender Mitgliederzahlen und der hohen Einstiegshürde in eine politische Organisation wurde die
      Durchführung zunehmend komplizierter. Ein eigener Verein, einzig dem Traditionsfest gewidmet soll hier anknüpfen und
      entsprechend gegenwirken. 
    {% endcapture %}

    {% include home_section.html id='why_club' section_classes='wrapper alt spotlight style2' image_path='images/logo_large.png'
 headline=headline_1
 message=message_1
 link_classes='disabled-link'
 link_text='Mehr erfahren (kommt bald)' %}
    {% comment %} END SECTION 2 {% endcomment %}

    <!-- Three -->
    {% comment %} BEGIN SECTION 3 {% endcomment %}
    {% capture headline_2 %}
      Wer sind wir?
    {% endcapture %}
    {% capture message_2 %} 
        Gegründet wurde der Verein aus dem langjährigen Organisationsteam, wodurch wir schon zur Gründung 
        mit viel Know-How und einem funktionierenden Planungsnetzwerk ausgestattet wurden. Die aktuelle 
        Vorstandschaft und eine kurze Vorstellung dieser findest du auf der nächsten Seite.
    {% endcapture %}

    {% include home_section.html
 id='who_are_we' section_classes='wrapper spotlight style3'
 image_path='images/vorstand.jpg'
 headline=headline_2
 message=message_2
 link_classes='disabled-link'
 link_text='Die Vorstandschaft (kommt bald)' %}
    {% comment %} END SECTION 3 {% endcomment %}


    <!-- Four -->
    {% comment %} BEGIN SECTION 4 {% endcomment %}
    {% capture headline_3 %}
      Der Ablauf
    {% endcapture %}
    {% capture message_3 %}
      Die Schnittkirwa Marktleuthen gilt inzwischen als größtes Fest im Veranstaltungskalender des Ortes. 
      Mit drei Tagen Festbetrieb und einem Programm das Jugend, Familien & Traditionalisten anspricht kann 
      sich das Fest aber auch über die Ortsgrenzen hinaus sehen lassen. Von Partystimmung bis Blasmusik, 
      von Weißwurstfrühstück bis Lederpflegeset – auf der Schnittkirwa Marktleuthen ist für Jeden etwas
      dabei.
    {% endcapture %}

    {% include home_section.html
 id='program' section_classes='wrapper alt spotlight style2'
 image_path='images/kirwa_generic.jpg'
 headline=headline_3
 message=message_3
 link_classes='disabled-link'
 link_text='Zum Programm (kommt bald)' %}
    {% comment %} END SECTION 4 {% endcomment %}

    <!-- Five -->
    {% comment %} BEGIN SECTION 5 {% endcomment %}
    {% capture headline_4 %}
      Unterstützer werden
    {% endcapture %}
    {% capture message_4 %}
      Du möchtest unserem Verein bei der Durchführung der Schnittkirwa helfen aber nicht direkt eintreten? 
      Kein Problem, trage dich in unsere Unterstützerliste ein um über aktuelle Planungsstände und Termine 
      informiert zu werden. Völlig unverbindlich und ohne Pflichten – versprochen!
    {% endcapture %}

    {% include home_section.html
 id='supporter' section_classes='wrapper spotlight style3'
 image_path='images/team.jpg'
 headline=headline_4 
 message=message_4
 link_text='Unterstützer werden'
 href='supporters.html' %}
    {% comment %} END SECTION 5 {% endcomment %}

    <!-- Six -->
    <section class="wrapper style1 alt" id="images_documents">
        <div class="inner">
            <h2 class="major">
                Bilder & Dokumente
            </h2>
            <p>
                Bilder sagen mehr als tausend Worte – und Taten genauso! Wenn auch
                <strong>DU
                </strong>
                ein Teil unserer Schnittkirwa werden willst, fülle einfach den Mitgliedsantrag aus und du bist
                dabei!
            </p>
            <section class="features">
                <article>
                    <a
                        class="image"
                        href="{{ site.url }}assets/documents/mitgliedsantrag_schnittkirwa_marktleuthen_ev.pdf"
                        target="_blank">
                        <img
                            alt=""
                            id="pdf"
                            src="images/schnittkirwa_2025.jpg" />
                    </a>
                    <h3 class="major">
                        Schnittkirwa 2025
                    </h3>
                    <p>
                        Unsere Schnittkirwa 2025 findet vom 16.08.2025 bis 18.08.2025 statt. Sieh dir hier unser
                        Veranstaltungsplakat an, oder gehe direkt zum
                        <u>
                            <a href="schnittkirwa-2025.html">Kirwaprogramm
                            </a>
                        </u>
                    </p>
                    <a
                        class="special"
                        href="{{ site.url }}assets/documents/schnittkirwa_2025.pdf"
                        target="_blank">
                        Veranstaltungsplakat herunterladen
                    </a>
                </article>
                <article>
                    <a
                        class="image"
                        href="{{ site.url }}assets/documents/mitgliedsantrag_schnittkirwa_marktleuthen_ev.pdf"
                        target="_blank">
                        <img
                            alt=""
                            id="pdf"
                            src="images/mitgliedsantrag.png" />
                    </a>
                    <h3 class="major">
                        Mitglied werden
                    </h3>
                    <p>
                        Egal ob Organisationstalent, Anpacker beim Auf- & Abbau, Biertaxi mit Trinkgeld-Affinität, Held des
                        Zapfhahns oder Bratwurst-Sommelier – jeder ist im {{ site.name }} willkommen! Einfach Antrag herunterladen, ausfüllen und uns zukommen lassen, schon bist du ein Teil
                        des legendären Kirwa-Teams!
                    </p>
                    <a
                        class="special"
                        href="{{ site.url }}assets/documents/mitgliedsantrag_schnittkirwa_marktleuthen_ev.pdf"
                        target="_blank">
                        Mitgliedsantrag herunterladen
                    </a>
                </article>
                <article>
                    <a class="image" href="#">
                        <img alt="" src="images/behind_the_zapfhahn.jpeg" />
                    </a>
                    <h3 class="major">
                        Behind the Zapfhahn
                    </h3>
                    <p>
                        Ein paar Eindrücke unserer vergangenen Feste, mit exklusiven Einblicken hinter die Kulissen! Denn
                        Schnittkirwa macht nicht nur als Gast, sondern auch als aktiver Helfer Spaß – einfach mal
                        reinschauen und inspirieren lassen ;)
                    </p>
                    <a class="special disabled-link">
                        Bilder ansehen (kommt bald)
                    </a>
                </article>
            </section>
        </div>
    </section>
</section>

<section id="footer">
    <div class="inner">
        {% capture contact_form %}
          {% include contact_form.html %}
        {% endcapture %}

        {% include footer.html footerContent=contact_form %}
    </div>
</section>
