<section class="{{ include.section_classes }}" id="{{ include.id  }}">
    <div class="inner">
        <a class="image" href="#"><img alt="" src="{{ include.image_path  }}" />
        </a>
        <div class="content">
            <h2 class="major">
                {{ include.headline }}
            </h2>
            <p>
                {{ include.message }}
            </p>
            <a
                {% if include.href %}
                    href="{{ include.href  }}"
                {% endif %}
                class="special {% if include.link_classes %}{{ include.link_classes }}{% endif %}">
                {{ include.link_text }}
            </a>
        </div>
    </div>
</section>
