<nav id="menu">
    <div class="inner">
        <h2>Menü
        </h2>
        <ul class="links">
            <li>
                <a href="/">Home
                </a>
            </li>
            <li>
                <a href="/#event_2025">Schnittkirwa 2025
                </a>
            </li>
            <li>
                <a href="/#why_club">Warum ist die Schnittkirwa ein Verein?
                </a>
            </li>
            <li>
                <a href="/#who_are_we">Wer sind wir?
                </a>
            </li>
            <li>
                <a href="/#program">Der Ablauf
                </a>
            </li>
            <li>
                <a href="/#supporter">Unterstützer werden
                </a>
            </li>
            <li>
                <a href="/#images_documents">Bilder & Dokumente
                </a>
            </li>
        </ul>
        <a class="close" href="#">Close
        </a>
    </div>
</nav>
