<nav id="menu">
    <div class="inner">
        <h2>Menü
        </h2>
        <ul class="links">
            <li>
                <a href="/">Home
                </a>
            </li>
            <li>
                <a href="/#one">Warum ist die Schnittkirwa ein Verein?
                </a>
            </li>
            <li>
                <a href="/#two">Wer sind wir?
                </a>
            </li>
            <li>
                <a href="/#three">Der Ablauf
                </a>
            </li>
            <li>
                <a href="/#four">Unterstützer werden
                </a>
            </li>
            <li>
                <a href="/#five">Bilder & Dokumente
                </a>
            </li>
        </ul>
        <a class="close" href="#">Close
        </a>
    </div>
</nav>
